# Note README.md gets clobbered by chef install Policyfile.rb.
cookbook_artifacts/
nodes/

.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
gems.locked
bin/*

# test kitchen
.kitchen/
kitchen.local.yml

# Chef
Berksfile.lock
.zero-knife.rb
policies/*.lock.json
policy_groups/*
.dokken/*
 
# Coverage
coverage/
rspec/

vendor/
.vagrant/
.vscode/*
*.code-workspace
.gpg/*